<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <link name="base_link"/>

  <link name="base_footprint">
    <inertial>
      <origin xyz="-8.3007E-11 -1.4484E-09 -0.00034261" rpy="0 0 0" />
      <mass value="2.5" />
      <inertia  ixx="0.0055364667583474745" ixy="0" ixz="0" iyy="0.011196121605060751" iyz="0" izz="0.016382012619649045" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://raredog/meshes/base_footprint.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://raredog/meshes/base_footprint.STL" />
      </geometry>
    </collision>
  </link>
    
  <joint name="base_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <parent link="base_link"/>
      <child link="base_footprint"/>
      <axis xyz="0.0 0.0 0.0"/>
  </joint>
</robot>