<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
    <!-- Hardware interface for robot's controller -->
    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>

        <!-- Hardware interface of robot's front right leg -->
        <joint name="front_right_shoulder_joint">
            <param name="pos_kp">10000.00</param>
            <param name="pos_ki">0.50</param>
            <param name="pos_kd">1.00</param>
            <param name="pos_max_integral_error">10000</param>
            <command_interface name="position_pid"/>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>  
        </joint>
            
        <joint name="front_right_elbow_joint">
            <param name="pos_kp">10000.00</param>
            <param name="pos_ki">0.50</param>
            <param name="pos_kd">1.00</param>
            <param name="pos_max_integral_error">10000</param>
            <command_interface name="position_pid"/>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>  
        </joint>

        <joint name="front_right_wrist_joint">
            <param name="pos_kp">10000.00</param>
            <param name="pos_ki">0.50</param>
            <param name="pos_kd">1.00</param>
            <param name="pos_max_integral_error">10000</param>
            <command_interface name="position_pid"/>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>  
        </joint>

        <!-- Hardware interface of robot's front left leg -->
        <joint name="front_left_shoulder_joint">
            <param name="pos_kp">10000.00</param>
            <param name="pos_ki">0.50</param>
            <param name="pos_kd">1.00</param>
            <param name="pos_max_integral_error">10000</param>
            <command_interface name="position_pid"/>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>    
        </joint>
        
        <joint name="front_left_elbow_joint">
            <param name="pos_kp">10000.00</param>
            <param name="pos_ki">0.50</param>
            <param name="pos_kd">1.00</param>
            <param name="pos_max_integral_error">10000</param>
            <command_interface name="position_pid"/>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>  
        </joint>

        <joint name="front_left_wrist_joint">
            <param name="pos_kp">10000.00</param>
            <param name="pos_ki">0.50</param>
            <param name="pos_kd">1.00</param>
            <param name="pos_max_integral_error">10000</param>
            <command_interface name="position_pid"/>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>    
        </joint>

        <!-- Hardware interface of robot's back right leg -->
        <joint name="back_right_shoulder_joint">
            <param name="pos_kp">10000.00</param>
            <param name="pos_ki">0.50</param>
            <param name="pos_kd">1.00</param>
            <param name="pos_max_integral_error">10000</param>
            <command_interface name="position_pid"/>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>    
        </joint>
            
        <joint name="back_right_elbow_joint">
            <param name="pos_kp">10000.00</param>
            <param name="pos_ki">0.50</param>
            <param name="pos_kd">1.00</param>
            <param name="pos_max_integral_error">10000</param>
            <command_interface name="position_pid"/>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>      
        </joint>

        <joint name="back_right_wrist_joint">
            <param name="pos_kp">10000.00</param>
            <param name="pos_ki">0.50</param>
            <param name="pos_kd">1.00</param>
            <param name="pos_max_integral_error">10000</param>
            <command_interface name="position_pid"/>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>      
        </joint>

        <!-- Hardware interface of robot's back left leg -->
        <joint name="back_left_shoulder_joint">
            <param name="pos_kp">10000.00</param>
            <param name="pos_ki">0.50</param>
            <param name="pos_kd">1.00</param>
            <param name="pos_max_integral_error">10000</param>
            <command_interface name="position_pid"/>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>   
        </joint>
            
        <joint name="back_left_elbow_joint">
            <param name="pos_kp">10000.00</param>
            <param name="pos_ki">0.50</param>
            <param name="pos_kd">1.00</param>
            <param name="pos_max_integral_error">10000</param>
            <command_interface name="position_pid"/>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>  
        </joint>

        <joint name="back_left_wrist_joint">
            <param name="pos_kp">10000.00</param>
            <param name="pos_ki">0.50</param>
            <param name="pos_kd">1.00</param>
            <param name="pos_max_integral_error">10000</param>
            <command_interface name="position_pid"/>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>  
        </joint>
    </ros2_control>
    
    <!-- Load robot's controller -->
    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">  
            <robotNamespace>raredog</robotNamespace>
            <parameters>$(find raredog)/config/controllers.yaml</parameters>
        </plugin>
    </gazebo>
</robot>